* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  background-color: #2a2d57;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent {
    width: 750px;
    height: 370px;

    display: grid;
    grid-template-columns: 15fr 12.5fr 12.5fr 15fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.child1{
    background-color: #6ebf50;
    grid-area: 1/1/-1/2;
}

.child2{
    background-color: #6ebf50;
    grid-area: 1/2/2/4;
}

.child3{
    background-color: #fab32f;
    grid-area: 2/2/3/3;
}

.child4{
    background-color: #ed3437;
    grid-area: 2/3/3/4;
}

.child5{
    background-color: #ed3437;
    grid-area: 3/2/4/3;
}

.child6{
    background-color: #fab32f;
    grid-area: 3/3/4/4;
}

.child7{
    background-color: #ed3437;
    grid-area: 1/4/2/5;
}

.child8{
    background-color: #6ebf50;
    grid-area: 2/4/-1/5;
}