* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  background-color: #2a2d57;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red{
    background-color: #3b68a3;
}

.green{
    background-color: #3b68a3;
}

.blue{
    background-color: #3b68a3;
}

.parent {
    width: 530px;
    height: 370px;

    display: grid;
    grid-template-columns: 1.2fr 2fr;
    grid-template-rows: 1fr 1fr ;
    gap: 10px;
    background-color: #edd11c;
    gap: 60px;
}
