*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;

}

.parent{
    font-size: 1.5rem; /*32px*/
    border: 1px solid black;
    width: 100vw;
    height: 100vh;
    background-color: red;
}

.child{
    font-size: 1.5em; /*150% 32px*/
    background-color: aqua;
    width: 50%; /**50% of 500%  250px**/ 
    height: 75%; /* 75% of 500% 1000px*/

    padding: 10%; /*10% of 500 50px*/
}

p{
    font-size: 1.5rem; /*150% of Root Font Size*/
}